.render-1 {
  @apply w-64 absolute z-0 right-0;
  filter: blur(2px);
}

@screen xl {
  .render-1 {
    @apply w-80 z-20;
    right: 100px;
    filter: blur(0);
  }
}

[data-aos="fade-centered"] {
  transform: translate(100px, -50%);
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos="fade-centered"].aos-animate {
  transform: translate(0, -50%) !important;
  opacity: 1 !important;
}
