.border-gradient {
  border-image: linear-gradient(180deg,#c3a758,#6b521e) stretch;
  border-image-slice: 1;
}

.text-gradient {
  background: linear-gradient(180deg,#c3a758,#6b521e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-separator {
  border-image: url('~@/assets/img/separator.svg');
  border-image-slice: 1;
}

.ornament {
  background-image: url('~@/assets/img/ornament-text.svg');
}

.ornament-lg {
  background-image: url('~@/assets/img/ornament-text-lg.svg');
}

.bg-gradient {
  background-image: radial-gradient(at 50% 50%, #44337A 0%, #17102C 100%);
}

.bg-gold-gradient {
  background-image: linear-gradient(180deg,#c3a758,#6b521e);
}

.vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

.underline-effect {
  @apply relative;
}

.underline-effect::before {
  @apply absolute inset-x-0 bottom-0 bg-yellow-600;
  content: '';
  height: 2px;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.underline-effect:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.bg-purple-transparent {
  background-color: rgba(68, 51, 122, 0.8);
}
