<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body {
      background: #EDF2F7;
      color: #fff;
    }
    .container {
      background: #44337A;
      border: 1px solid #D69E2E;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Demande de réinitialisation de mot de passe</h1>
    <p>Bonjour {{ user.username }}</p>
    <p>Une demande de réinitialisation de mot de passe a été réalisée pour votre compte.</p>
    <p>Si vous en êtes bien à l'origine, cliquez sur <a href="{{ url }}">ce lien</a> pour terminer la procédure.</p>
  </div>
</body>
</html>