/* --------------------------
   Button Shop
-------------------------- */
.btn-shop {
  @apply relative;
}

.btn-shop:hover {
  @apply bg-no-repeat bg-contain;
  background-image: url('~@/assets/img/menu-current.png');
  background-position: center 110%;
}

.btn-shop::before,
.btn-shop::after {
  @apply absolute w-4 h-4 bg-center bg-no-repeat bg-contain opacity-0;
  content: '';
  top: 50%;
  background-image: url('~@/assets/img/badge.png');
  transition: all 0.2s ease;
}

.btn-shop::before {
  @apply left-0;
  transform: translate(0, -50%);
}

.btn-shop::after {
  @apply right-0;
  transform: translate(calc(100% - 16px), -50%);
}

.btn-shop:hover::before {
  @apply opacity-100;
  transform: translate(8px, -50%);
}

.btn-shop:hover::after {
  @apply opacity-100;
  transform: translate(calc(100% - 24px), -50%);
}

/* --------------------------
   Button Call to Action
-------------------------- */
.btn-cta {
  @apply bg-no-repeat bg-contain select-none;
  background-position: center 110%;
}

.btn-cta:hover {
  background-image: url('~@/assets/img/menu-current.png'), radial-gradient(at 55% 60%, #44337A 0%, #17102C 100%);
}

.btn-cta-disabled {
  @apply pointer-events-none;
  filter: grayscale(80%);
}
